* {
    /* border: 2px solid red; */
    --panel-ht: 95vh;
}

@font-face {
    font-family: 'Caveat';
    src: url("../fonts/Caveat-VariableFont_wght.ttf");
}

body {
    display: flex;
    flex-direction: row;
    height: var(--panel-ht);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-panel {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background-image: url("../img/halie-west.jpg");
    background-size: cover;
    /* temporary fix - should update with better method */
    min-width: 30vw;    
}

.logo {
    height: calc(0.15 * var(--panel-ht));
    width: 100%;
    background-color: rgba(0, 0, 0, 0.303);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20vh;
    padding: 1vh 0px;
}

.logo > img {
    height: 100%;
}

.logo > .logo-text {
    color: white;
    font-family: 'Caveat';
    font-size: calc(0.15 * var(--panel-ht));
}

.credit {
    color: rgba(255, 255, 255, 0.877);
}

a {
    color: rgba(255, 255, 255, 0.877);
}

.right-panel {
    min-width: 40vw;
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel > .top, .right-panel > .bottom {
    flex: 1 1 auto;
    background-color: rgb(217, 215, 215);
}

.right-panel .top > .text, .right-panel .middle > .header {
    font-weight: 700;
    font-size: 3vh;
}

.right-panel .top > .text {
    width: 90%;
    position: relative;
    top: 10vh;
    left: 3vw;
    right: 2vw;
}

.right-panel > .middle {
    padding: 2vh 2vw;
    font-size: 3vh;
    border: 2px solid white;
    box-shadow: 0px 2px 4px black;
    z-index: 1;
}

.right-panel .header {
    margin-left: 1vw;
    margin-bottom: 1.5vh;
}

label {
    font-size: 2vh;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.7)
}

input {
    width: 200px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 4px;
}

.right-panel > .middle input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 1px 2px 3px black;
}

form {
    width: 75%;
    margin-left: 1vw;
}

.form-line {
    display: flex;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin: 1vh 4vw 1vh 0;
}

.match-text {
    font-size: 2vh;
    color: red;
}

.right-panel > .bottom {
    padding: 2vh 2vw;
}

button {
    background-color: rgb(80, 105, 29);
    color: white;
    border: 2px solid rgb(80, 105, 29);
    padding: 1vh 2.5vw;
    border-radius: 4px;
    box-shadow: 0px 2px 4px black;
    position: relative;
    top: 1vh;
}

button, .have-acct {
    margin-left: 1vw;
}

a.log-in {
    color:rgb(80, 105, 29);
    text-decoration: none;
    font-weight: bold;
}

.have-acct {
    position: relative;
    top: 4vh;
}