* {
    border: 2px solid red;
}
body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-panel {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background-image: url("../img/halie-west.jpg");
    background-size: cover;
    min-width: 25vw;
}

.logo {
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.303);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20vh;
    padding: 1vh 0px;
}

.logo > img {
    height: 100%;
}

.logo > .logo-text {
    color: white;
}

.credit {
    color: rgba(255, 255, 255, 0.877);
}

a {
    color: rgba(255, 255, 255, 0.877);
}

.right-panel {
    min-width: 40vw;
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel > .top, .right-panel > .bottom {
    flex: 4 1 auto;
    background-color: rgb(221, 218, 210);
}

.right-panel > .middle {
    padding: 2vh 2vw;
    font-size: 4vh;
}